@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:700|Roboto:100,300,700');

/* estilos globales */

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
    
}

body{
    font-size: 10px;
    line-height: 3.5em;
    font-weight: 300;    
}


h1, h2, h3, h4, h5, h6{
    font-family: 'Roboto Condensed';
}

h1{
    font-size: 9em;
    text-align: center ;
    text-transform: uppercase;   
}

h2{
    font-size: 5em;
    text-align: center;
    text-transform: uppercase;
}

h3{
    font-size: 4.2em;
    text-align: center;
    line-height: 1em;  
}

h4{
    font-size: 1.5em;
    letter-spacing: 0.4em;
    line-height: 1em;
}

h5{
    font-size: 1.2em;
    line-height: 1em;
}

/* estilos nav */

.nav-bar{
    background-color: rgb(25, 33, 41);
    padding: 20px;
    padding-right: 30px;
    text-align: center;

}

#nav-text li{
    display: inline;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 20px;
}


.nav-text-i {
    color: white;
    display: inline;
    text-decoration: none;
}

/* estilos header */

.header{
    height: 650px;
    background-image: url("https://s3-eu-west-1.amazonaws.com/ih-materials/uploads/ironhack-skydive-background.jpg");    
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover; 
    padding-top: 100px; 
    padding-left: 30px;
    
}

.text-shadow{
    color: white;
    text-shadow: #020819 8px -8px 9px;
    padding-top: 30px;
}

.quote{
    font-size: 2.5em;
    margin-top: 300px;
}

/* estilos section 1 */

.dark-background{
    background-color: rgb(25, 33, 41);
    color: white;
    padding: 30px;
    
}

.general-info--text{
    font-size: 1em;
    font-family: 100;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.general-info {
    display: inline;
}

.link-btn{
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 2em;
    letter-spacing: 0.5px;
    text-align: center;    
    background-color: rgb(67, 163, 230);    
    font-size: 0,5em;
    text-decoration: none;
    padding: 10px;
    border-radius: 3px;
    box-shadow: #020819 4px 4px 4px; ;
}

/* estilos section 2 */

#structure{
    padding: 50px;
}

.servicebox{
    font-size: 1.7em;
    text-align: center;
    
}

.servicebox img{
    width: 125px;

}

.servicebox-title{
    letter-spacing: normal;
}

/* estilos section 3 */


#team .section-text{
    font-size: 1.9em;
    text-align: center;
    line-height: normal;

}


#team .member-name{
    font-size: 1.5em;
    font-weight: 700;
    text-align: center;
    letter-spacing: normal;
}


#team img{
    width: 250px;
}

/* estilos section 4 */

#schedule{
    padding: 50px;
}

.table-block{
    border: 1px solid;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 15px;
    margin: auto;
    text-align: center ;
}


tr{
    padding: 5px;    
}

/* estilos footer */

.footer{
    font-size: 1.9em;
    text-align: center;
}

.address{
    font-style: normal;
    font-size: 0.8em;
    list-style: none;
    
}

.footer a {
    text-decoration: none;
    color: rgb(67, 163, 230);

}

.googlemaps{
    border-radius: 7px;
    box-shadow: #020819 4px 4px 4px ;
}
